/* Estilo para el botón */
#insertImage {
    font-size: 16px; /* Aumenta el tamaño del texto del botón */
    padding: 10px 20px; /* Aumenta el espacio alrededor del texto del botón */
}
.imageWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.imageWrapper img{
    /*width: 600px;
    height: 600px;*/
    padding: 10px;
}
